In [2]:
# считываем файл
import pandas as pd
bookings = pd.read_csv('3_bookings.csv', sep=';')
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [3]:
# Проверяем названия колонок
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [6]:
bookings.shape

(119390, 21)

In [15]:
# Смотрим доминирующий тип данных
data_types = bookings.dtypes
dum_type = data_types.mode()
dum_type

0     int64
1    object
dtype: object

In [14]:
# Переименуем столбцы для удобства
s = bookings.columns  
s = s.str.lower()      
s = [item.replace(" ", "_") for item in s]
bookings.columns = s
s

['hotel',
 'is_canceled',
 'lead_time',
 'arrival_full_date',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'stays_total_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'reserved_room_type',
 'assigned_room_type',
 'customer_type',
 'reservation_status',
 'reservation_status_date']

In [13]:
# Топ 5 стран в которых больше всего брони
not_canceled = bookings[bookings['is_canceled'] == 0]
country_counts = not_canceled.groupby('country').size()
top_countries = country_counts.sort_values(ascending=False)
top_countries.head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

In [18]:
# Средняя продолжительность проживания в отелях
hotel_c = bookings[bookings['hotel'] == 'City Hotel']
average_nights_c = hotel_c['stays_total_nights'].mean()
print(average_nights_c)

hotel_r = bookings[bookings['hotel'] == 'Resort Hotel']
average_nights_r = hotel_r['stays_total_nights'].mean()
print(average_nights_r)

2.978141938736922
4.318547179231153

In [19]:
# Считаем сколько всего было отменено броней
room_type_changed = bookings['reserved_room_type'] != bookings['assigned_room_type']
sum_rooms = room_type_changed.sum()
print(sum_rooms)

14917

In [12]:
bookings['arrival_date_month']

0           July
1           July
2           July
3           July
4           July
           ...
119385    August
119386    August
119387    August
119388    August
119389    August
Name: arrival_date_month, Length: 119390, dtype: object

In [20]:
# Кол-во отменённых броней в отеле 
hotel = bookings[bookings['hotel'] == 'City Hotel']
all_canceled = hotel.groupby(['arrival_date_year', 'arrival_date_month'])['is_canceled'].sum()
all_canceled

arrival_date_year  arrival_date_month
2015               August                1232
                   December               668
                   July                   939
                   November               301
                   October               1321
                   September             1543
2016               April                 1539
                   August                1247
                   December              1072
                   February               930
                   January                438
                   July                  1043
                   June                  1720
                   March                 1108
                   May                   1436
                   November              1360
                   October               1947
                   September             1567
2017               April                 1926
                   August                1123
                   February               971
                   January               1044
                   July                  1324
                   June                  1808
                   March                 1278
                   May                   2217
Name: is_canceled, dtype: int64

In [24]:
# Среднее число несовершеннолетних на бронирование для City отеля
bookings['total_kids'] = bookings['children'] + bookings['babies']
city_h = bookings[bookings['hotel'] == 'City Hotel']
print(city_h['total_kids'].mean().round(2))

0.1

In [26]:
# Cреднее число несовершеннолетних на бронирование для Resort отеля
resort_h = bookings[bookings['hotel'] == 'Resort Hotel']
print(resort_h['total_kids'].mean().round(2))

0.14

In [27]:
# Среднее число детей для каждого отеля
bookings.groupby('hotel').total_kids.mean().round(2)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [30]:
# Сравнение показателя оттока клиентов для групп с детьми и без
no_kids = bookings[bookings['total_kids'] == 0]
total_no_kids = len(no_kids)
no_kids_sum = no_kids['is_canceled'].sum()
churn_no_kids = (no_kids_sum / total_no_kids) * 100
print(churn_no_kids.round(2))

37.22

In [31]:
kids = bookings[bookings['total_kids'] > 0]
total_yes_kids = len(kids)
kids_sum = kids['is_canceled'].sum()
churn_kids = (kids_sum / total_yes_kids) * 100
print(churn_kids.round(2))

34.92